<%= form_with(model: travel) do |form| %>
  <% if travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
        <% travel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.number_field :distance %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :group, 'Select Group' %>
    <%#= form.select :group_id, Group.all.map{|group| [group.name,group.id]}, { include_blank: true } %>
    <%#= form.collection_select(:group_id, Group.all, :id, :name) %>
<!--  </div>-->

<%= form.collection_check_boxes( :group_ids, Group.all, :id, :name ) %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
