<%= form_with(model: group) do |form| %>

  <%= error_messages_for(group) %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon, 'Upload Icon' %>
    <%= form.file_field :icon %>
  </div>


  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
