<h1>Profile Page</h1>

<br/>
<%= current_user.name %><br/>
<%= current_user.employee_id %>


<br/>
<br/>

<%= link_to 'All my Travel-log', travels_path %><br/>
<%= link_to 'All my External Travel-log', external_path %><br/>
<%= link_to 'All groups', groups_path %>